$white: #ffffff;
$black: #191919;
$dark-black: #000000;
$dark-blue: #112d5d;
$light-blue: #3679d0;
$light-green: #63c234;
$light-red: #d92e37;
$brown: #b39d61;
$brownish: #bc9f5d;
$gray: #96989a;
$teal: #43516c;
$star-exclusive-text: #b9c1dd;
$star-exclusive-watch-btn: #009cff;
$star-exclusive-watch-btn-text: #04236a;
$top-ten-background: #121212;
$sign-in-error-background: #017ad5;

$teal-green: #0ab9d3;
$blueish: #0996ed;
$grayish: #8f95a1;

$modal-button-color: #014d89;

$default-dark-blue: #ff6600; /* #00295d; */

$default-spacing: 20px;

$purple-dark: #51576c;
$purple-light: #7a7de5;
$rebeca-purple: #663399;
$player-background: #2B333F;
$player-user-rated-movie-positive: #39FF14;
$player-user-rated-movie-negative: #FF0000;
$player-add-menu-background: #404040;

$default-line-separator: #0a0a0a;

$title-font-size: calc(13px + .2vw);
$subtitle-font-size: calc(12px + .1vw);

$font-family-oswald: "Oswald",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$font-family-signature: 'yanone-kaffeesatz', 'Yanone Kaffeesatz', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-metropolis: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


// Responsive
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 500px;

/* 'Times New Roman', Times, Comic Sans MS, Comic Sans */
/* possible changes for white labels   */

$signature-color: #d10000; /* trenton */
$secondary-signature-color: #333333; /* trenton */

$player-scene-bg: radial-gradient(circle, rgba(209,0,0,1) 49%, rgba(209,0,0,1) 50%, rgba(0,0,0,1) 100%);

/* added for simplified */

.bodyTestContent { padding: 1em 2em; background: #ffffff; background: rgba(255,255,255,.5); }

.bodyTestContentTwo { background: #0066ff; margin: 0 0 20px 0; padding: 20px; }

.bodyTestContentOne { background: #6600ff; margin: 0 0 20px 0; padding: 20px; }

.bodyTestContentThree { background: #00ff66; margin: 0 0 20px 0; padding: 20px; }